.sidebar {
    width: 8rem;
    background-color: rgba(5,30,52,255);
    height: 140vh;
    background-image: url(../img/sidebar-bg.png);
    margin-top: 3rem;
    position: fixed;
}

.big_container {
    /* background-color: red; */
    width: 90%;
    margin-left: 8rem;
    position: absolute;
    top: 3.33rem;
}

.logo {
    width: 20px;
}

.myspace {
    margin-top: -15rem;
}

.myspace2 {
    margin-top: 50rem;
}

.myspace3 {
    margin-top: -2.5rem;
}

.myspace4 {
    margin-left: 5rem;
}
.logo_title {
    display: none;
}

@media all and (min-width: 576px) {
    .logo_title {
        display: block;
    }

  
}




/* <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> */
       


